//Fonts
$principal-title: 'Lora', serif;
$secondary-titles: 'MontserratLight', sans-serif;
$general-text: 'MontserratLight', sans-serif;

//Colors
$black: #000;
$white: #FFF;
$dark-gray: #4C4949;
$medium-gray:#808285;
$light-gray: #E8E8E8;
$coral: #F15B55;

//Sizes
$h1-size: 3.4rem;
$h2-size: 3.0rem;
$h3-size: 2.6rem;
$h4-size: 2.2rem;
$a-size: 1.2rem;
$p-content-size: 1.6rem;
$p-credit-size: 1.2rem;

$h1-size-desktop: 4.6rem;
$a-size-desktop: 2.0rem;

//Spaces
$base-space: 1.0rem;
$small-space: 1.5rem;
$medium-space: 2.0rem;
$large-space: 3.0rem;

$large-space-desktop: 10rem;