header {
    padding: $large-space $medium-space;

    img {
        width: 16%;
    }

    @include query(700px){

    	img {
    		width: 6%;
    	}

    }
}

.open-menu, .close-menu {
    float: right;
    top: 0;
    width: 6%;

    @include query(720px){

       width: 3%;

        @include query(1200px){

             width: 2%;

        }

    }
   
}
