header {
    padding: $large-space $medium-space;

    img {
        width: 16%;
    }

    @include query(700px){

    	img {
    		width: 5%;
    	}

    }
}

.open-menu {
    float: right;
    top: 0;
}