.post__header {
    background-image: url(../img/portada.jpg);
    //https://i.pinimg.com/originals/dc/39/91/dc39918f2353e3298edb17ec0e8531e0.jpg
    background-color: black;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    text-align: center;

    @include query(600px){

    background-position: center top;

    }
}

.story__header-inner {
    margin: 0 auto;
    position: relative;
    top: 35%;
}